.quill_outContainer{
    /* border: 1px solid #f00; */
    /* height: 500px; */
    width: 80%;
    padding: 20px;
}
.quill_outContainer .ql-container{
    /* height: 644px !important; */
    /* height: 500px; */
    min-height: 300px;
    max-height: 600px;
    /* height: 80% !important; */
}