#components-form-demo-normal-login {
  position: relative;
  height: 100%;
  width: 100%;
  /* position: absolute;
  padding-top: 50%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#components-form-demo-normal-login .login-form {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
